/* MainLayout 부분 설정 */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #121212; /* 전체 배경 */
    color: white;
}

.contentWrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden; /* 스크롤바 이상하게 생기는 것 방지 */
}

.mainContent {
    flex-grow: 1;
    padding: 32px;
    overflow-y: auto; /* 컨텐츠 길어지면 여기서만 스크롤 */
}